footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
  align-items: center;
  z-index: 1000;
}

.footer-contents-can {
  width: 100%;
  min-height: 70px;
}

.footer-left-can {
  width: 40%;
}

.footer-middle-can {
  justify-content: center;
  align-items: end;
  width: 20%;
}

.footer-right-can {
  width: 40%;
  justify-content: end;
}

.footer-links {
  width: 50%;
  flex-direction: column;
  text-align: right;
}
