.navbarcan {
  padding: 2px 5px;
  align-items: center;
}

.navbar-content-can {
  min-height: 56px;
  align-items: center;
}

.brandText {
  font-family: "Satisfy", cursive;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 0 5px;
}

.brand-can {
  width: 15%;
  min-width: 110px;
  justify-content: center;
}

.navbar-links {
  width: 85%;
  min-width: 200px;
  justify-content: end;
}

.navlinks-can {
  width: 30%;
  justify-content: space-around;
}
